.cnDetailedCardRoot {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    margin: 20px auto;
}

.cnUserBadgeRoot {
    padding: 10px 5px;
}

.cnDetailedCardImage img {
    width: 100%;
}

.cnDetailedCardButtons {
    display: flex;
    align-items: center;
    padding: 10px 5px 5px;
}

.cnDetailedCardLikesBtn {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.cnDetailedCardButtons svg {
    width: 21px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.cnDetailedCardLikes {
    padding: 5px;
}

.cnDetailedCardComments {
    padding: 5px;
}

.cnDetailedCardOpen {
    border: none;
    cursor: pointer;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.cnDetailedCardForm {
    display: flex;
    justify-content: space-between;
}

.cnDetailedCardText {
    width: 100%;
    height: 25px;
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 4px;
}

.cnDetailedCardSendBtn {
    border: none;
    cursor: pointer;
    background-color: #33bfff;
    color: white;
    border-radius: 10px;
    margin: 0 15px;
    width: 100px;
}

.cnDetailedCardSendBtn:active {
    background-color: #28a9e4;
}

.error {
    border: 1px solid red;
}